.top-header
  .header
    .header__logo
      = image_tag 'logos/logo.png', class: 'picture'
      %form.search_bar
        %input{type: "text", class: 'input_box', placeholder: 'キーワードから探す'}
      %button{class: "HamlBtn", type: "submit"}
        =fa_icon 'search', class: 'icon'
      %ul.one
        %li.list_man
          = link_to 'カテゴリー', class: 'categories'
        %li.list_men
        = link_to 'ブランド', class: 'brand'
      %ul.two
        %li.nets
          =link_to 'ログイン', class: 'news'
        %li.bucks
        = link_to '新規会員登録', class: 'logins'
