%body
  %noscript
    %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :title => "googletagmanager", :width => "0"}
  #__next
    .sc-chAAoq.jPFYTH
      .sc-dTLGrV.lgofCb
        %a.sc-dRCTWM.bvYJlY{:href => "/jp/"}
          %img.sc-ivVeuv.gXbFhr{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}/
      .sc-fAjcbJ.iYiELi.sc-cCbXAZ.feqiRj
        .sc-caSCKo.OLMic
          .sc-bYwvMP.eQvauQ
            %svg.sc-hUMlYv.gVuVc{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
              %path{:d => "M21.78,18.5,13.48,3.86a1.7,1.7,0,0,0-3,0L2.22,18.5a1.64,1.64,0,0,0,0,1.67A1.67,1.67,0,0,0,3.7,21H20.3a1.67,1.67,0,0,0,1.46-.83A1.64,1.64,0,0,0,21.78,18.5ZM11.07,8.65h1.86v6.43H11.07ZM12,18.32a1.11,1.11,0,1,1,1.12-1.11A1.12,1.12,0,0,1,12,18.32Z"}
            .sc-ESoVU.iHfTRs
              %p.sc-kkbgRg.bUINRu{"data-test" => "toast-title"} 出品できませんでした
              %p.sc-hRmvpr.gwKzRk{"data-test" => "toast-message"}
            %button.sc-cZBZkQ.cgDiBw
              %svg.sc-ecaExY.hipMUF{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                %path{:d => "M13,12.05,18.3,6.69a.7.7,0,0,0-1-1L12,11.06,6.7,5.71a.7.7,0,1,0-1,1L11,12.05,5.8,17.31a.7.7,0,0,0,0,1,.71.71,0,0,0,.49.2.7.7,0,0,0,.5-.21L12,13.05l5.2,5.24a.7.7,0,0,0,.5.21.71.71,0,0,0,.49-.2.7.7,0,0,0,0-1Z"}
          .sc-hgRTRy.gEPDhy
            .sc-iIHSe.cKFwXj
          .sc-hgRTRy.gEPDhy
            .sc-iIHSe.csJzwJ
              .sc-cpHetk.duLbOk
                %p.sc-nrwXf.dSfUWi{"data-test" => "modal-title"} ご確認下さい
                %p.sc-eitiEO.lhYiuG
                  %span.sc-AnqlK.idyZke{"data-test" => "modal-description-inner"} 入力された情報から禁止された行為・出品物に当たる可能性があります。
                %p.sc-eitiEO.sc-bhlBdH.dmKPkz
                  %span.sc-AnqlK.idyZke
                    禁止されている
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_conduct/", :rel => "noopener noreferrer", :target => "_blank"}> 行為
                    および
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_items/", :rel => "noopener noreferrer", :target => "_blank"}> 出品物
                    を必ずご確認ください。
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 偽ブランド品
                    や
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/report_counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 盗品物
                    などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
                    %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/seller_terms/", :rel => "noopener noreferrer", :target => "_blank"}> 加盟店規約
                    に同意したことになります。
              .sc-kVrTmx.bDAfyR{"data-test" => "modal-buttons"}
                %button.sc-ekkqgF.sc-iBmynh.yjaxJ キャンセル
                %button.sc-ekkqgF.sc-fKGOjr.NyhgN 出品する
          %form.sc-hycgNl.jyAYzg{:action => "#"}
            .sc-hgRTRy.gEPDhy
              .sc-iIHSe.cKFwXj
                .sc-gbzWSY.gFSYjH
                  %p.sc-jqIZGH.tgeJA 写真を切り取る
                  .sc-jMMfwr.cxmZGG
                    %svg.sc-jGxEUC.jrstqg{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M20.3,4.7H15.47v-2a.7.7,0,0,0-.7-.7H9.23a.7.7,0,0,0-.7.7v2H3.7a.71.71,0,0,0,0,1.41h1V19.3a2.85,2.85,0,0,0,3,2.7h8.74a2.85,2.85,0,0,0,3-2.7V6.11h1a.71.71,0,0,0,0-1.41ZM9.6,17.85a.6.6,0,0,1-1.2,0v-9a.6.6,0,0,1,1.2,0Zm3,0a.6.6,0,0,1-1.2,0v-9a.6.6,0,0,1,1.2,0ZM14.07,4.7H9.93V3.4h4.14ZM15.6,17.85a.6.6,0,0,1-1.2,0v-9a.6.6,0,0,1,1.2,0Z"}
                    %span.sc-jdeSqf.kvUNtB 削除する
                .sc-cBrjTV.dYthto
                  .sc-iCwjlJ.icxbxp
                    %svg{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "20", :viewbox => "0 0 24 24", :width => "20"}
                      %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
                    %input.sc-fkyLDJ.dxUjgv{:max => "2", :min => "1", :step => "0.01", :type => "range", :value => "1"}/
                    %svg{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                      %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
                .sc-jUpvKA.ggxflP
                  %button.style_button__3yWFH.common_fontFamily__3-3Si.style_defaultIntent__22709.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-jdfcpN.lgYDUT{:tabindex => "0", :type => "button"} キャンセル
                  %button.style_button__3yWFH.common_fontFamily__3-3Si.style_primary__Mg3zL.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-jdfcpN.lgYDUT{:tabindex => "0", :type => "button"} 完了
            .sc-kNBZmU.kspzAM
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "photos"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 出品画像
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  %p.sc-eNNmBn.iXBewW.style_controls__B6nQm
                    最大
                    / 
                    10
                    / 
                    枚までアップロードできます
                  .sc-jxGEyO.gxhZAT.style_controls__B6nQm
                    .sc-eEieub.glFGFW{"data-test" => "sell-upload-container"}
                      .sc-gacfCG.bZhwlD{:tabindex => "0"}
                        .sc-dEfkYy.jvzFty
                          %input.sc-cqPOvA.kdnXmt{:accept => "image/png,image/jpeg", :autocomplete => "off", :multiple => "multiple", :style => "display:none", :tabindex => "-1", :type => "file"}/
                          %svg.sc-fjhmcy.jMTqzY{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                            %path{:d => "M19.3,5H16.73l-.8-1.61A.7.7,0,0,0,15.3,3H8.7a.7.7,0,0,0-.63.39L7.27,5H4.7A2.7,2.7,0,0,0,2,7.7V18.3A2.7,2.7,0,0,0,4.7,21H19.3A2.7,2.7,0,0,0,22,18.3V7.7A2.7,2.7,0,0,0,19.3,5ZM12,17.3A4.3,4.3,0,1,1,16.3,13,4.31,4.31,0,0,1,12,17.3Z"}
                          %p.sc-gNJABI.bKSsLP
                            ドラッグアンドドロップ
                            %br>/
                            またはクリックしてファイルをアップロード
            %hr.style_divider__1tLu3.style_size1__3jc3t/
            .sc-kNBZmU.kspzAM
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "name"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 商品名
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv
                    .style_inputarea__1mtsA
                      %input{:autocomplete => "off", :name => "name", :placeholder => "40文字まで", :type => "text", :value => ""}/
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "description"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 商品の説明
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  %textarea.style_textarea__24aZZ.common_fontFamily__3-3Si.style_fluid__10CPG{:name => "description", :placeholder => "商品の説明（必須 1,000文字以内）\n（色、素材、重さ、定価、注意点など）\n\n例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。\n          ", :rows => "7"}
                  .style_counter__ofu-P.common_fontFamily__3-3Si.style_right__1Vw8k
                    %span> 0
                    \/
                    / 
                    1000
            %hr.style_divider__1tLu3.style_size1__3jc3t/
            .sc-kNBZmU.kspzAM
              %p.sc-hwcHae.dvherF 商品の詳細
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "categoryId"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label カテゴリー
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                    .style_selectarea__3ZX8E
                      %select{:name => "categoryId"}
                        %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                        %option{"aria-selected" => "false", :label => "レディース", :value => "1"} レディース
                        %option{"aria-selected" => "false", :label => "メンズ", :value => "2"} メンズ
                        %option{"aria-selected" => "false", :label => "ベビー・キッズ", :value => "3"} ベビー・キッズ
                        %option{"aria-selected" => "false", :label => "インテリア・住まい・小物", :value => "4"} インテリア・住まい・小物
                        %option{"aria-selected" => "false", :label => "本・音楽・ゲーム", :value => "5"} 本・音楽・ゲーム
                        %option{"aria-selected" => "false", :label => "おもちゃ・ホビー・グッズ", :value => "1328"} おもちゃ・ホビー・グッズ
                        %option{"aria-selected" => "false", :label => "コスメ・香水・美容", :value => "6"} コスメ・香水・美容
                        %option{"aria-selected" => "false", :label => "家電・スマホ・カメラ", :value => "7"} 家電・スマホ・カメラ
                        %option{"aria-selected" => "false", :label => "スポーツ・レジャー", :value => "8"} スポーツ・レジャー
                        %option{"aria-selected" => "false", :label => "ハンドメイド", :value => "9"} ハンドメイド
                        %option{"aria-selected" => "false", :label => "チケット", :value => "1027"} チケット
                        %option{"aria-selected" => "false", :label => "自動車・オートバイ", :value => "1318"} 自動車・オートバイ
                        %option{"aria-selected" => "false", :label => "その他", :value => "10"} その他
                      %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                        %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  .style_formLabel__3wM81.common_fontFamily__3-3Si
                    %label ブランド
                    %span.style_tag__xA80S.style_hint__3awFd.style_small__2vSa8.common_fontFamily__3-3Si 任意
                  .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv
                    .style_inputarea__1mtsA
                      %input{:autocomplete => "off", :name => "brandName", :placeholder => "例）シャネル", :type => "text", :value => ""}/
                  %ul.sc-jbKcbu.cApMkI.sc-lnmtFM.bBYBZG.style_controls__B6nQm
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "itemCondition"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 商品の状態
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                    .style_selectarea__3ZX8E
                      %select{:name => "itemCondition"}
                        %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                        %option{"aria-selected" => "false", :label => "新品、未使用", :value => "1"} 新品、未使用
                        %option{"aria-selected" => "false", :label => "未使用に近い", :value => "2"} 未使用に近い
                        %option{"aria-selected" => "false", :label => "目立った傷や汚れなし", :value => "3"} 目立った傷や汚れなし
                        %option{"aria-selected" => "false", :label => "やや傷や汚れあり", :value => "4"} やや傷や汚れあり
                        %option{"aria-selected" => "false", :label => "傷や汚れあり", :value => "5"} 傷や汚れあり
                        %option{"aria-selected" => "false", :label => "全体的に状態が悪い", :value => "6"} 全体的に状態が悪い
                      %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                        %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            %hr.style_divider__1tLu3.style_size1__3jc3t/
            .sc-kNBZmU.kspzAM
              %p.sc-hwcHae.dvherF
                配送について
                %a{:href => "/jp/help_center/article/68/", :rel => "noopener noreferrer", :target => "_blank"}
                  %svg.sc-erNlkL.dmMAFb{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                    %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                    %path{:d => "M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                    %circle{:cx => "12", :cy => "16.24", :r => "1"}
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "shippingPayer"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 配送料の負担
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                    .style_selectarea__3ZX8E
                      %select{:name => "shippingPayer"}
                        %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                        %option{"aria-selected" => "false", :label => "送料込み(出品者負担)", :value => "2"} 送料込み(出品者負担)
                        %option{"aria-selected" => "false", :label => "着払い(購入者負担)", :value => "1"} 着払い(購入者負担)
                      %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                        %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "shippingFromArea"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 発送元の地域
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                    .style_selectarea__3ZX8E
                      %select{:name => "shippingFromArea"}
                        %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                        %option{"aria-selected" => "false", :label => "北海道", :value => "1"} 北海道
                        %option{"aria-selected" => "false", :label => "青森県", :value => "2"} 青森県
                        %option{"aria-selected" => "false", :label => "岩手県", :value => "3"} 岩手県
                        %option{"aria-selected" => "false", :label => "宮城県", :value => "4"} 宮城県
                        %option{"aria-selected" => "false", :label => "秋田県", :value => "5"} 秋田県
                        %option{"aria-selected" => "false", :label => "山形県", :value => "6"} 山形県
                        %option{"aria-selected" => "false", :label => "福島県", :value => "7"} 福島県
                        %option{"aria-selected" => "false", :label => "茨城県", :value => "8"} 茨城県
                        %option{"aria-selected" => "false", :label => "栃木県", :value => "9"} 栃木県
                        %option{"aria-selected" => "false", :label => "群馬県", :value => "10"} 群馬県
                        %option{"aria-selected" => "false", :label => "埼玉県", :value => "11"} 埼玉県
                        %option{"aria-selected" => "false", :label => "千葉県", :value => "12"} 千葉県
                        %option{"aria-selected" => "false", :label => "東京都", :value => "13"} 東京都
                        %option{"aria-selected" => "false", :label => "神奈川県", :value => "14"} 神奈川県
                        %option{"aria-selected" => "false", :label => "新潟県", :value => "15"} 新潟県
                        %option{"aria-selected" => "false", :label => "富山県", :value => "16"} 富山県
                        %option{"aria-selected" => "false", :label => "石川県", :value => "17"} 石川県
                        %option{"aria-selected" => "false", :label => "福井県", :value => "18"} 福井県
                        %option{"aria-selected" => "false", :label => "山梨県", :value => "19"} 山梨県
                        %option{"aria-selected" => "false", :label => "長野県", :value => "20"} 長野県
                        %option{"aria-selected" => "false", :label => "岐阜県", :value => "21"} 岐阜県
                        %option{"aria-selected" => "false", :label => "静岡県", :value => "22"} 静岡県
                        %option{"aria-selected" => "false", :label => "愛知県", :value => "23"} 愛知県
                        %option{"aria-selected" => "false", :label => "三重県", :value => "24"} 三重県
                        %option{"aria-selected" => "false", :label => "滋賀県", :value => "25"} 滋賀県
                        %option{"aria-selected" => "false", :label => "京都府", :value => "26"} 京都府
                        %option{"aria-selected" => "false", :label => "大阪府", :value => "27"} 大阪府
                        %option{"aria-selected" => "false", :label => "兵庫県", :value => "28"} 兵庫県
                        %option{"aria-selected" => "false", :label => "奈良県", :value => "29"} 奈良県
                        %option{"aria-selected" => "false", :label => "和歌山県", :value => "30"} 和歌山県
                        %option{"aria-selected" => "false", :label => "鳥取県", :value => "31"} 鳥取県
                        %option{"aria-selected" => "false", :label => "島根県", :value => "32"} 島根県
                        %option{"aria-selected" => "false", :label => "岡山県", :value => "33"} 岡山県
                        %option{"aria-selected" => "false", :label => "広島県", :value => "34"} 広島県
                        %option{"aria-selected" => "false", :label => "山口県", :value => "35"} 山口県
                        %option{"aria-selected" => "false", :label => "徳島県", :value => "36"} 徳島県
                        %option{"aria-selected" => "false", :label => "香川県", :value => "37"} 香川県
                        %option{"aria-selected" => "false", :label => "愛媛県", :value => "38"} 愛媛県
                        %option{"aria-selected" => "false", :label => "高知県", :value => "39"} 高知県
                        %option{"aria-selected" => "false", :label => "福岡県", :value => "40"} 福岡県
                        %option{"aria-selected" => "false", :label => "佐賀県", :value => "41"} 佐賀県
                        %option{"aria-selected" => "false", :label => "長崎県", :value => "42"} 長崎県
                        %option{"aria-selected" => "false", :label => "熊本県", :value => "43"} 熊本県
                        %option{"aria-selected" => "false", :label => "大分県", :value => "44"} 大分県
                        %option{"aria-selected" => "false", :label => "宮崎県", :value => "45"} 宮崎県
                        %option{"aria-selected" => "false", :label => "鹿児島県", :value => "46"} 鹿児島県
                        %option{"aria-selected" => "false", :label => "沖縄県", :value => "47"} 沖縄県
                        %option{"aria-selected" => "false", :label => "未定", :value => "99"} 未定
                      %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                        %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
              .style_formgroup__3IPME.sc-eopZyb.kadbte
                .style_body__1OP1S
                  %div{:name => "shippingDuration"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 発送までの日数
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  .style_select__3R6W_.common_fontFamily__3-3Si.style_fluid__31br4
                    .style_selectarea__3ZX8E
                      %select{:name => "shippingDuration"}
                        %option{"aria-selected" => "true", :label => "選択してください", :selected => "selected", :value => ""} 選択してください
                        %option{"aria-selected" => "false", :label => "1~2日で発送", :value => "1"} 1~2日で発送
                        %option{"aria-selected" => "false", :label => "2~3日で発送", :value => "2"} 2~3日で発送
                        %option{"aria-selected" => "false", :label => "4~7日で発送", :value => "3"} 4~7日で発送
                      %svg{"aria-hidden" => "true", :fill => "#888888", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                        %path{:d => "M12,15.66a1.73,1.73,0,0,1-1.2-.49L5.21,9.54a.7.7,0,0,1,1-1l5.62,5.62c.15.15.27.15.41,0L17.8,8.6a.71.71,0,0,1,1,0,.69.69,0,0,1,0,1l-5.57,5.58A1.71,1.71,0,0,1,12,15.66Z"}
            %hr.style_divider__1tLu3.style_size1__3jc3t/
            .sc-FQuPU.gppXRR
              %p.sc-hwcHae.dvherF
                価格（¥
                / 
                300
                / 
                〜
                / 
                9,999,999
                / 
                ）
                %a{:href => "/jp/help_center/article/64/", :rel => "noopener noreferrer", :target => "_blank"}
                  %svg.sc-erNlkL.dmMAFb{"aria-hidden" => "true", :fill => "#222222", "fill-rule" => "evenodd", :height => "24", :viewbox => "0 0 24 24", :width => "24"}
                    %path{:d => "M12,2A10,10,0,1,0,22,12,10,10,0,0,0,12,2Zm0,18.6A8.6,8.6,0,1,1,20.6,12,8.61,8.61,0,0,1,12,20.6Z"}
                    %path{:d => "M14.18,7.52A2.72,2.72,0,0,0,13.25,7a3.16,3.16,0,0,0-1.17-.2A3.12,3.12,0,0,0,10,7.43,2.92,2.92,0,0,0,9,9.27c0,.12,0,.18.12.19l1.4.22c.09,0,.15,0,.17-.13a1.63,1.63,0,0,1,.44-.91A1.2,1.2,0,0,1,12,8.31a1.17,1.17,0,0,1,.88.33,1.15,1.15,0,0,1,.33.83,1.62,1.62,0,0,1-.12.61,3.46,3.46,0,0,1-.41.67l-1.23,1.67a2.53,2.53,0,0,0-.31.58,2.51,2.51,0,0,0-.09.75v.63a.14.14,0,0,0,.16.16h1.44a.14.14,0,0,0,.16-.16v-.45a1.7,1.7,0,0,1,.07-.56,1.31,1.31,0,0,1,.24-.42l1.22-1.67A2.93,2.93,0,0,0,15,9.46a2.62,2.62,0,0,0-.22-1.09A2.43,2.43,0,0,0,14.18,7.52Z"}
                    %circle{:cx => "12", :cy => "16.24", :r => "1"}
              .sc-ciodno.ZRBZL
                .sc-ekulBa.cseFDS
                  .sc-fihHvN.lngyOm{:name => "price"}
                    .style_formLabel__3wM81.common_fontFamily__3-3Si
                      %label 販売価格
                      %span.style_tag__xA80S.style_attention__3ULCL.style_small__2vSa8.common_fontFamily__3-3Si 必須
                  %span.sc-bqjOQT.grphBa ¥
                  .style_textField__1jvsM.common_fontFamily__3-3Si.style_fluid__1h6iv.sc-bbkauy.hHovMW
                    .style_inputarea__1mtsA
                      %input{:autocomplete => "off", :name => "price", :placeholder => "0", :type => "number", :value => ""}/
                .sc-ekulBa.cseFDS
                  .sc-lcpuFF.cfsYNp{"data-test" => "fee-label"}
                    %div 販売手数料（10%）
                  %span.sc-jkCMRl.hGbbBN{"data-test" => "fee-value"} —
                %hr.style_divider__1tLu3.style_size1__3jc3t/
                .sc-ekulBa.cseFDS
                  .sc-lcpuFF.cfsYNp 販売利益
                  %span.sc-jkCMRl.hGbbBN{"data-test" => "total-value"} —
              .sc-gGCbJM.fQVszR
                %button.style_button__3yWFH.common_fontFamily__3-3Si.style_primary__Mg3zL.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.sc-kEmuub.fVxxno{:tabindex => "0", :type => "submit"} 出品する
                %a.style_button__3yWFH.common_fontFamily__3-3Si.style_defaultIntent__22709.style_medium__3wTQ5.style_fluid__3mdYA.style_legacy__2D0U0.style_linkButton__Cwuej{:href => "/jp/"} もどる
              %p.sc-iuDHTM.dOCXPa
                禁止されている
                %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_conduct/", :rel => "noopener noreferrer", :target => "_blank"}> 行為
                および
                %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/prohibited_items/", :rel => "noopener noreferrer", :target => "_blank"}> 出品物
                を必ずご確認ください。
                %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 偽ブランド品
                や
                %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/help_center/getting_started/report_counterfeit_goods/", :rel => "noopener noreferrer", :target => "_blank"}> 盗品物
                などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして
                %a.style_textlink__iJYDm.common_fontFamily__3-3Si{:href => "/jp/seller_terms/", :rel => "noopener noreferrer", :target => "_blank"}> 加盟店規約
                に同意したことになります。
      .sc-fHSTwm.kuhClq
        .sc-hdPSEv.gYwhMC
          %ul.sc-cmIlrE.bglSTT
            %li.sc-gleUXh.ggPxHj
              %a.sc-doWzTn.cGGreO{:href => "/jp/privacy/"} プライバシーポリシー
            %li.sc-gleUXh.ggPxHj
              %a.sc-doWzTn.cGGreO{:href => "/jp/tos/"} メルカリ利用規約
            %li.sc-gleUXh.ggPxHj
              %a.sc-doWzTn.cGGreO{:href => "/jp/tokutei/"} 特定商取引に関する表記
        %a.sc-dRCTWM.bvYJlY{:href => "/jp/"}
          %img.sc-dBaXSw.evccNt{:alt => "Mercari", :src => "https://web-jp-assets.mercdn.net/_next/static/images/logotype-gray-432385160bc60aa0002854fccdef2caf.svg"}/
        %p.sc-bNQFlB.jiZrMk © Mercari, Inc.
  %script{:nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi"}
    :cdata
      window.__webpack_nonce__ = 'MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi';
  %script#__NEXT_DATA__{:nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :type => "application/json"}
    :cdata
      {"props":{"pageProps":{},"apolloState":{"$ROOT_QUERY.antiSocialExists.data":{"exists":true,"__typename":"AntiSocialExistsData"},"$ROOT_QUERY.antiSocialExists":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.antiSocialExists.data","typename":"AntiSocialExistsData"},"__typename":"AntiSocialExists"},"ROOT_QUERY":{"antiSocialExists":{"type":"id","generated":true,"id":"$ROOT_QUERY.antiSocialExists","typename":"AntiSocialExists"},"merpayAccounts":{"type":"id","generated":true,"id":"$ROOT_QUERY.merpayAccounts","typename":"MerpayAccounts"},"notifications({\"limit\":5,\"pageSize\":5})":{"type":"id","generated":true,"id":"$ROOT_QUERY.notifications({\"limit\":5,\"pageSize\":5})","typename":"Notifications"},"notificationCount":{"type":"id","generated":true,"id":"$ROOT_QUERY.notificationCount","typename":"NotificationCount"},"point":{"type":"id","generated":true,"id":"$ROOT_QUERY.point","typename":"Point"},"sales":{"type":"id","generated":true,"id":"$ROOT_QUERY.sales","typename":"Sales"},"todolists({\"limit\":5})":{"type":"id","generated":true,"id":"$ROOT_QUERY.todolists({\"limit\":5})","typename":"Todolists"},"todolistsCount":{"type":"id","generated":true,"id":"$ROOT_QUERY.todolistsCount","typename":"TodolistsCount"},"userProfile":{"type":"id","generated":true,"id":"$ROOT_QUERY.userProfile","typename":"UserProfile"}},"$ROOT_QUERY.merpayAccounts.data":{"hasFundsAccount":false,"hasPointAccount":true,"fundsAccount":null,"pointAccount":{"type":"id","generated":true,"id":"$ROOT_QUERY.merpayAccounts.data.pointAccount","typename":"PointAccount"},"__typename":"MerpayAccountsData"},"$ROOT_QUERY.merpayAccounts.data.pointAccount":{"freeBalance":264,"prepaidBalance":520,"__typename":"PointAccount"},"$ROOT_QUERY.merpayAccounts":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.merpayAccounts.data","typename":"MerpayAccountsData"},"error":null,"__typename":"MerpayAccounts"},"NotificationsData:27210646986":{"id":"27210646986","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達招待のお知らせ」","created":1583650193,"kind":"PrivateMessage","args":{"type":"id","generated":true,"id":"$NotificationsData:27210646986.args","typename":"NotificationsArgs"},"intent":{"type":"id","generated":true,"id":"$NotificationsData:27210646986.intent","typename":"NotificationsIntent"},"__typename":"NotificationsData"},"$NotificationsData:27210646986.args":{"itemId":null,"__typename":"NotificationsArgs"},"$NotificationsData:27210646986.intent":{"activity":"NewsDetailActivity","extra":{"type":"id","generated":false,"id":"NotificationsExtra:2749263295","typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"NotificationsExtra:2749263295":{"id":"2749263295","itemId":null,"userId":null,"url":null,"__typename":"NotificationsExtra"},"NotificationsData:27159361542":{"id":"27159361542","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"《まもなく終了》販売手数料実質\"無料\"についてはこちら","created":1583569282,"kind":"AdminBulkContact","args":{"type":"id","generated":true,"id":"$NotificationsData:27159361542.args","typename":"NotificationsArgs"},"intent":{"type":"id","generated":true,"id":"$NotificationsData:27159361542.intent","typename":"NotificationsIntent"},"__typename":"NotificationsData"},"$NotificationsData:27159361542.args":{"itemId":null,"__typename":"NotificationsArgs"},"$NotificationsData:27159361542.intent":{"activity":"WebActivity","extra":{"type":"id","generated":false,"id":"NotificationsExtra:null","typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"NotificationsExtra:null":{"id":null,"itemId":null,"userId":null,"url":"https://campaign.mercari.jp/202002ListingFestivalCPN/index.html","__typename":"NotificationsExtra"},"NotificationsData:27148240248":{"id":"27148240248","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"明日、P200還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。","created":1583563518,"kind":"CouponExpire","args":null,"intent":{"type":"id","generated":true,"id":"$NotificationsData:27148240248.intent","typename":"NotificationsIntent"},"__typename":"NotificationsData"},"$NotificationsData:27148240248.intent":{"activity":"CouponListActivity","extra":{"type":"id","generated":false,"id":"NotificationsExtra:null","typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"NotificationsData:27075898015":{"id":"27075898015","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"【コンビニで資材が無料!?】お得な出品情報はこちらをタップ！","created":1583412049,"kind":"AdminBulkContact","args":{"type":"id","generated":true,"id":"$NotificationsData:27075898015.args","typename":"NotificationsArgs"},"intent":{"type":"id","generated":true,"id":"$NotificationsData:27075898015.intent","typename":"NotificationsIntent"},"__typename":"NotificationsData"},"$NotificationsData:27075898015.args":{"itemId":null,"__typename":"NotificationsArgs"},"$NotificationsData:27075898015.intent":{"activity":"WebActivity","extra":{"type":"id","generated":false,"id":"NotificationsExtra:null","typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"NotificationsData:27056603500":{"id":"27056603500","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"3日後、P200還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。","created":1583390033,"kind":"CouponExpire","args":null,"intent":{"type":"id","generated":true,"id":"$NotificationsData:27056603500.intent","typename":"NotificationsIntent"},"__typename":"NotificationsData"},"$NotificationsData:27056603500.intent":{"activity":"CouponListActivity","extra":{"type":"id","generated":false,"id":"NotificationsExtra:null","typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"$ROOT_QUERY.notifications({\"limit\":5,\"pageSize\":5})":{"data":[{"type":"id","generated":false,"id":"NotificationsData:27210646986","typename":"NotificationsData"},{"type":"id","generated":false,"id":"NotificationsData:27159361542","typename":"NotificationsData"},{"type":"id","generated":false,"id":"NotificationsData:27148240248","typename":"NotificationsData"},{"type":"id","generated":false,"id":"NotificationsData:27075898015","typename":"NotificationsData"},{"type":"id","generated":false,"id":"NotificationsData:27056603500","typename":"NotificationsData"}],"error":null,"__typename":"Notifications"},"$ROOT_QUERY.notificationCount.data":{"count":0,"__typename":"NotificationCountData"},"$ROOT_QUERY.notificationCount":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.notificationCount.data","typename":"NotificationCountData"},"error":null,"__typename":"NotificationCount"},"$ROOT_QUERY.point.data":{"currentTotal":784,"__typename":"PointData"},"$ROOT_QUERY.point":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.point.data","typename":"PointData"},"error":null,"__typename":"Point"},"$ROOT_QUERY.sales.data":{"currentSales":0,"__typename":"SalesData"},"$ROOT_QUERY.sales":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.sales.data","typename":"SalesData"},"error":null,"__typename":"Sales"},"TodolistsData:4209179846":{"id":"4209179846","kind":"EmailVerificationRequired","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。","itemId":null,"created":1574529628,"intent":{"type":"id","generated":true,"id":"$TodolistsData:4209179846.intent","typename":"TodolistsIntent"},"__typename":"TodolistsData"},"$TodolistsData:4209179846.intent":{"activity":"WebActivity","extra":{"type":"id","generated":true,"id":"$TodolistsData:4209179846.intent.extra","typename":"TodolistsExtra"},"__typename":"TodolistsIntent"},"$TodolistsData:4209179846.intent.extra":{"url":"https://www.mercari.com/jp/help_center/article/759/","__typename":"TodolistsExtra"},"$ROOT_QUERY.todolists({\"limit\":5})":{"data":[{"type":"id","generated":false,"id":"TodolistsData:4209179846","typename":"TodolistsData"}],"error":null,"__typename":"Todolists"},"$ROOT_QUERY.todolistsCount.data":{"count":0,"__typename":"TodolistsCountData"},"$ROOT_QUERY.todolistsCount":{"data":{"type":"id","generated":true,"id":"$ROOT_QUERY.todolistsCount.data","typename":"TodolistsCountData"},"error":null,"__typename":"TodolistsCount"},"AliveUserProfileData:565724221":{"id":565724221,"name":"らーです","photoThumbnailUrl":"https://static.mercdn.net/images/member_photo_noimage_thumb.png","email":"ratamago31@gmail.com","score":1,"numSellItems":1,"registerSmsConfirmation":"yes","isOrganizationalUser":false,"__typename":"AliveUserProfileData"},"$ROOT_QUERY.userProfile":{"data":{"type":"id","generated":false,"id":"AliveUserProfileData:565724221","typename":"AliveUserProfileData"},"error":null,"__typename":"UserProfile"}},"apolloClient":{},"data":{"merpayAccounts":{"data":{"hasFundsAccount":false,"hasPointAccount":true,"fundsAccount":null,"pointAccount":{"freeBalance":264,"prepaidBalance":520,"__typename":"PointAccount"},"__typename":"MerpayAccountsData"},"error":null,"__typename":"MerpayAccounts"},"notifications":{"data":[{"id":"27210646986","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"事務局から個別メッセージ「《500円分のポイントが必ずもらえる》友達招待のお知らせ」","created":1583650193,"kind":"PrivateMessage","args":{"itemId":null,"__typename":"NotificationsArgs"},"intent":{"activity":"NewsDetailActivity","extra":{"id":"2749263295","itemId":null,"userId":null,"url":null,"__typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"__typename":"NotificationsData"},{"id":"27159361542","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"《まもなく終了》販売手数料実質\"無料\"についてはこちら","created":1583569282,"kind":"AdminBulkContact","args":{"itemId":null,"__typename":"NotificationsArgs"},"intent":{"activity":"WebActivity","extra":{"id":null,"itemId":null,"userId":null,"url":"https://campaign.mercari.jp/202002ListingFestivalCPN/index.html","__typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"__typename":"NotificationsData"},{"id":"27148240248","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"明日、P200還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。","created":1583563518,"kind":"CouponExpire","args":null,"intent":{"activity":"CouponListActivity","extra":{"id":null,"itemId":null,"userId":null,"url":"https://campaign.mercari.jp/202002ListingFestivalCPN/index.html","__typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"__typename":"NotificationsData"},{"id":"27075898015","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"【コンビニで資材が無料!?】お得な出品情報はこちらをタップ！","created":1583412049,"kind":"AdminBulkContact","args":{"itemId":null,"__typename":"NotificationsArgs"},"intent":{"activity":"WebActivity","extra":{"id":null,"itemId":null,"userId":null,"url":"https://campaign.mercari.jp/202002ListingFestivalCPN/index.html","__typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"__typename":"NotificationsData"},{"id":"27056603500","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"3日後、P200還元クーポンの有効期限が切れます！タップして詳細を確認しましょう。","created":1583390033,"kind":"CouponExpire","args":null,"intent":{"activity":"CouponListActivity","extra":{"id":null,"itemId":null,"userId":null,"url":"https://campaign.mercari.jp/202002ListingFestivalCPN/index.html","__typename":"NotificationsExtra"},"__typename":"NotificationsIntent"},"__typename":"NotificationsData"}],"error":null,"__typename":"Notifications"},"notificationCount":{"data":{"count":0,"__typename":"NotificationCountData"},"error":null,"__typename":"NotificationCount"},"point":{"data":{"currentTotal":784,"__typename":"PointData"},"error":null,"__typename":"Point"},"sales":{"data":{"currentSales":0,"__typename":"SalesData"},"error":null,"__typename":"Sales"},"todolists":{"data":[{"id":"4209179846","kind":"EmailVerificationRequired","photoUrl":"https://static.mercdn.net/images/mercari_profile.png","message":"ご登録のメールアドレスに認証メールを送りました。メールに記載のURLをクリックして、メールアドレスを認証してください。","itemId":null,"created":1574529628,"intent":{"activity":"WebActivity","extra":{"url":"https://www.mercari.com/jp/help_center/article/759/","__typename":"TodolistsExtra"},"__typename":"TodolistsIntent"},"__typename":"TodolistsData"}],"error":null,"__typename":"Todolists"},"todolistsCount":{"data":{"count":0,"__typename":"TodolistsCountData"},"error":null,"__typename":"TodolistsCount"},"userProfile":{"data":{"id":565724221,"name":"らーです","photoThumbnailUrl":"https://static.mercdn.net/images/member_photo_noimage_thumb.png","email":"ratamago31@gmail.com","score":1,"numSellItems":1,"registerSmsConfirmation":"yes","isOrganizationalUser":false,"__typename":"AliveUserProfileData"},"error":null,"__typename":"UserProfile"},"antiSocialExists":{"data":{"exists":true,"__typename":"AntiSocialExistsData"},"__typename":"AntiSocialExists"}},"fullPath":"https://www.mercari.com/jp/sell/","userAgent":"Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.132 Safari/537.36","cookies":{},"error":null},"page":"/sell","query":{},"buildId":"H6VZMRC1CV7bzuHcnUEPA","assetPrefix":"https://web-jp-assets.mercdn.net","runtimeConfig":{"isDevelopment":false,"isProduction":true,"basePath":"/jp","baseUrl":"https://www.mercari.com","itemBaseUrl":"https://item.mercari.com/jp","mercariStatic":"https://s3-ap-northeast-1.amazonaws.com/static.dev6s.mercari.jp","googleTagManagerId":"GTM-KLPT5L5","CLIENT_GRAPHQL_URL":"/jp/graphql","SERVER_GRAPHQL_URL":"http://main.mercari-web-graphql-jp-prod/jp/graphql","SESSION_JP_URL":"http://main.mercari-web-session-jp-prod.svc.cluster.local:10001","SENTRY":{"DSN":"https://3a427e6f93474a80b9e91ffd03d723e7@sentry.io/1253786","ENVIRONMENT":"production","RELEASE":"585649846a10d7a804a3939357a5d4a4b7567339-production"}}}
  %script{:nomodule => "", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/runtime/polyfills-d285a2df9c5a94cd46eb.js"}
  %script{"data-next-page" => "/sell", :defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/H6VZMRC1CV7bzuHcnUEPA/pages/sell.js"}
  %script{"data-next-page" => "/_app", :defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/H6VZMRC1CV7bzuHcnUEPA/pages/_app.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/runtime/webpack-61fe53cb4b2c3ce39f9d.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/framework.0352e16ba0ad641c9265.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/commons.dd5abf505ca116532ef2.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/7a53e253b64633e4a62a1c678b79b6e2b50ca9c2.b9fb8dcc54facf425ce7.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/a543d6b98527231e3cbca820387b338a477314b7.8a3a34eafff30ac8992f.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/e353ccfaf5b491b813745dbbf1a94855b5783b40.d3c55ebd0071a0033cc4.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/820cbab2b5bf3094814822024f21633fff1397a1.194debebc30773b3124e.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/5d6989a273bc697c526e88e73fd83e55fc255dd0.bf8778a39f730bb47830.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/5835ad1e190b13029f301d7bd879ca08df1f55b8.2a09b0e42b586a12115f.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/a6983448c5c1528fb23beca06e4514216f2672f9.6bd54d51e865eb05ec7e.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/90f29fc4851a4a3c78ff5f05a5a606b098b774ca.bd6e5ab99e0b7815aa71.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/a2676bc94ab3fd02a550318c283ca592e0a278d5.88fccd585eb1f6899c3a.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/7e0bb96e4066e75a9055169d76eb3895f7134a5f.20862b517fc6dd192076.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/ItemList.998617c38fa72b3a46aa.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/a3b45aa5678661d060429b6dc67d67d49c934ead.bf1ca9c1b9dfa02bfe5d.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/runtime/main-42e38c105d84b741a640.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/34b1e0ce15d72531fefea26878727fc8bb006e20.0b11bf8918ae86f532be.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/chunks/e67f606ccb1d5b3bb065cb14fc6c5d159b4004ac.802a869895ff26635c86.js"}
  %script{:defer => "defer", :nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi", :src => "https://web-jp-assets.mercdn.net/_next/static/H6VZMRC1CV7bzuHcnUEPA/_buildManifest.js"}
  %script{:nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi"}
    :cdata
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KLPT5L5');
  %script{:nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi"}
    :cdata
      window.dataLayer = window.dataLayer || [];
  %script{:nonce => "MGU0MDMxNDItNzNhYy00NmNlLWIwOWYtOTgyYzk5Njk3Nzhi"}
    :cdata
      if ('serviceWorker' in navigator && true) {
      window.addEventListener('load', function () {
      navigator.serviceWorker.register('/jp/service-worker.js').catch(function () {});
      });
      }
  %div{:style => "display: none; visibility: hidden;"}
    :javascript
      !function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1964320460558899");fbq("track","PageView");
    %noscript

