// .header {
//   background-color:#cfe;
//   width:100%;
//   height:108px;
//   display:block;
//   &__logo {
//     position:absolute;
//     height:108px;
//     width:100%;
//     display: flex;
//     align-items: center;
//     .picture {
//       width: 150px;
//       display:flex;
//       position:relative;
//       right:29px;
//       left:190px;
//       bottom:20px;
//       vertical-align: bottom;
//     }
//     .input_box {
//       width:833px;
//       position:relative;
//       bottom:20px;
//       left:26%;
//       padding:8px;
//       font-size: inherit;
//       display:flex;
//       float:right;
//     }
//     .HamlBtn {
//       height:43px;
//       width:43px;
//       bottom:20px;
//       left:180px;
//       display:flex;
//       position:relative;
//       z-index:1;
//       padding:8px;
//       text-align:center;
//       background-color: #3CCACE;
//       .icon {
//         position:relative;
//         bottom:47%;
//         float:right;
//         display:flex;
//         color:#fff;
//         font-size:20px;
//       }
//     }
//   }
//   .one {
//     list-style:none;
//     display:flex;
//     height:70px;
//     position:relative;
//     top:65px;
//     right:830px;
//     color:#fff;
//     font-size:14px;
//     .list_man {
//       text-decoration: none;
//       justify-content:space-between;
//     }
//     a {
//       display:block;
//       color:#000;
//       text-decoration:none;
//       position:relative;
//       margin-right:40px;
//       width:70px;
//     }
//     .list_men {
//       position:absolute;
//         display:flex;
//       left:34px;
//     }
//   }
//   .login{
//     margin-left: 625px;
//     display: flex;
//   }
// }

.header {
  background-color:#fff;
  width:100%;
  position:absolute;
  height: 108px;
  &__second {
      align-items: center;
      width:1020px;
      margin: 0 auto;
      padding-top:5px;
      .header__third {
          align-items:center;
          position: relative;
          display: flex;
          width:100%;
          justify-content: space-between;
          .inner { 
              display:flex;
              width:100%;
              .picture {
                  height:36px;
                  width:134px;
                  margin-top:10px;
                  margin-right:20px;
              }
          }
          .search_bar {
              width:100%;
              position:relative;
              display:flex;
              .input_box {
                  background-color: rgb(245, 245, 245);
                  font-size: 16px;
                  height:40px;
                  line-height: 1.4em;
                  width:830px;
                  // position:relative;
                  padding: 0px 50px 0px 10px;
                  border-radius:5px;
                  margin-top:10px;
                  margin-left:10px;
                  margin-right:50px;
                  border-width: 1px;
                  border-style: solid;
                  border-color: rgb(204, 204, 204);
                  border-image: initial;
              }
              .HamlBtn {
                  width:40px;
                  height:40px;
                  margin-top:10px;
                  position:absolute;
                  left:94.3%;
                  // left:90%;
                  border-radius:2px;
                  background-color: #3CCACE;
                  .icon {
                      color:#fff;
                      font-size:20px;
                      // display:flex;
                  }
              }
          }
      }
      .nav-bar {
          justify-content: space-between;
          display:flex;
          width:100%;
          height:53px;
          padding:0;
          .left {
              display:flex;
              list-style:none;
              padding:0;
              .list_man {
                  height: 44px;
                  position: relative;
                  z-index: 3;
                  margin-right:25px;
                  a {
                      display:flex;
                      font-size:14px;
                      text-decoration:none;
                      font-weight:600;
                      color:#222222;
                  }
                  a:hover {
                      color:#FFCC33;
                  }
              }
              .list_men {
                  color:#000;
                  a {
                      display:flex;
                      font-size:14px;
                      text-decoration:none;
                      font-weight:600;
                      color:#222222;
                  }
                  a:hover {
                      color:#FFCC33;
                  }
              .login{
                    margin-left: 300px;
                    display: flex;
              }
        }
      }
    }
  }
}
