body{
  height: 2558px;
  background-color: #F8F8F8;
 .header-lologos{
  padding: 49px 350px;
  text-align: center;
  .picture{
    height: 49px;
  }
 }
 .main{
  width: 700px;
  height: 2210px;
  background-color: white;
  margin: 0 auto;
  .main-page__01{
    width: 700px;
    height: 320px;
    border-bottom: 0.1rem solid #F8F8F8;
    .main-page{ 
      width: 620px;
      height: 100%;
      margin: 0 auto;
      padding-top: 40px;
  
      span{
        color: white;
        width: 20px;
        height: 20px;
        background-color: red;
        font-size: 12px;
        padding: 3px;
        border-radius: 3px;
      }
     
      .main-page__box{
       
        text-align: center;
        .main-page__box2{
          width: 600px;
          height: 100px;
          font-size: 13px;
          color: black;
          text-align: -webkit-auto;
         
          .main-page__box3{
            padding-top: 15px;
          }
          .main-page__box4{
            margin-top: 15px;
            width: 620px;
            height: 150px;
            border-style: dotted;
            text-align: center;
            background-color: #F8F8F8;
           
            .picture{
              width: 24px;
              height: 20px;
              margin-bottom: -20px;
            }
          }
          h{
            float: left;
            color: red;
            margin-top: 15px;
          }
         
         
         
        }
      }
    }
  }
  
  .main-page__02{
    width: 700px;
    height: 416px;
    border-bottom: 0.1rem solid #F8F8F8;
   
       .name__box{
        width: 700px;
        margin: 0 auto;
        padding-top: 40px;
        .name__box2{
          font-size: 13px;
          font-weight: 600;
          margin-left: 39px;
          span{
            color: white;
            width: 20px;
            height: 20px;
            background-color: red;
            font-size: 12px;
            padding: 3px;
            border-radius: 3px;
          }
        }
      }
      .forty__box{
        width: 620px;
        height: 48px;
        color: gray;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        padding: 9px 16px;
        position: relative;
        top: 20px;
        left: 37px;
        h{
          font-size: 16px;
          color: dimgray;
         
        }
      }
        .readme__box{
          width: 700px;
          margin-top: 40px;
          margin-left: -15px;
          .readme__box2{
            font-size: 13px;
            font-weight: 600;
            span{
              color: white;
              width: 20px;
              height: 20px;
              background-color: red;
              font-size: 12px;
              padding: 3px;
              border-radius: 3px;
            }
          }
        }
        .readmebig__box{
          width: 620px;
          height: 154px;
          border: 1px solid #ccc;
          border-radius: 5px;
          display: inline-block;
          padding: 9px 16px;
          position: relative;
          top: 40px;
          left: 35px;
          font-size: 16px;
          color: gray;
        }
  }
  .main-page__03{
    width: 700px;
    height: 444px;
    border-bottom: 0.1rem solid #F8F8F8;
    .detail__box{
      width: 700px;
      margin: 0 auto;
      padding-top: 32px; 
      font-size: 13px;
      margin-left: 40px;
    }
    .category__box{
      width: 700px;
      .category__name{
        font-weight: 600;
        margin-top: 32px;
        margin-left: 38px;
        h{
          font-size: 13px;
        }
        span{
          color: white;
          width: 20px;
          height: 20px;
          background-color: red;
          font-size: 12px;
          padding: 3px;
          border-radius: 3px;
        }
      }
      .category__box2{
        width: 620px;
        height: 48px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        padding: 9px 16px;
        position: relative;
        top: 18px;
        left: 37px;
        .arrow{
          width: 12px;
          height: 12px;
          border: 1px solid;
          border-color: #565656 #565656 transparent transparent;
          transform: rotate(135deg);
          margin-left: auto;
          margin-top: -19px;
        }
      }
    }
    .brand__box{
      width: 700px;
      .brand__name{
        font-weight: 600;
        margin-top: 32px;
        margin-left: 38px;
        h{
          font-size: 13px;
        }
        span{
          color: white;
          width: 20px;
          height: 20px;
          background-color: #BFBFBF;
          font-size: 12px;
          padding: 3px;
          border-radius: 3px;
        }
      }
      .brand__box2{
        width: 620px;
        height: 48px;
        color: gray;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        padding: 9px 16px;
        position: relative;
        top: 18px;
        left: 37px;
      }
    }
    .statu__box{
      width: 700px;
      .statu__name{
        font-weight: 600;
        margin-top: 32px;
        margin-left: 38px;
        h{
          font-size: 13px;
        }
        span{
          color: white;
          width: 20px;
          height: 20px;
          background-color: red;
          font-size: 12px;
          padding: 3px;
          border-radius: 3px;
        }
      }
      .statu__box2{
        width: 620px;
        height: 48px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        padding: 9px 16px;
        position: relative;
        top: 18px;
        left: 37px;
        .arrow{
          width: 12px;
          height: 12px;
          border: 1px solid;
          border-color: #565656 #565656 transparent transparent;
          transform: rotate(135deg);
          margin-left: auto;
          margin-top: -19px;
        }
      }
    }
  }
  .main-page__04{
    width: 700px;
    height: 444px;
    padding: 40px;
    border-bottom: 0.1rem solid #F8F8F8;
    .deilvery__box{
      width: 700px;
      margin: 0 auto;
      padding-top: 32px; 
      font-size: 13px;
      margin-left: 40px;
    }
    .delivery__name{
      color: rgb(136, 136, 136);
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4em;
      margin-bottom: 24px;
      .picture{
        width: 13px;
        margin-top: -3px;
      }
    }
    .bear__box{
      font-weight: 600;
      h{
        font-size: 13px;
      }
      span{
        color: white;
        width: 20px;
        height: 20px;
        background-color: red;
        font-size: 12px;
        padding: 3px;
        border-radius: 3px;
      }
    }
    .bear__box2{
      width: 620px;
      height: 48px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      padding: 9px 16px;
      position: relative;
      top: 18px;
      .arrow{
        width: 12px;
        height: 12px;
        border: 1px solid;
        border-color: #565656 #565656 transparent transparent;
        transform: rotate(135deg);
        margin-left: auto;
        margin-top: 4px;
        position: relative;
        top: -19px;
      }
    }
    .shipping__area{
      font-weight: 600;
      margin-top: 40px;
      h{
        font-size: 13px;
      }
      span{
        color: white;
        width: 20px;
        height: 20px;
        background-color: red;
        font-size: 12px;
        padding: 3px;
        border-radius: 3px;
      }
    }
    .area__box{
      width: 620px;
      height: 48px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      padding: 9px 16px;
      position: relative;
      top: 18px;
      .arrow{
        width: 12px;
        height: 12px;
        border: 1px solid;
        border-color: #565656 #565656 transparent transparent;
        transform: rotate(135deg);
        margin-left: auto;
        margin-top: 4px;
        position: relative;
        top: -24px;
      }
    }
    .shippinng__day{
      font-weight: 600;
      margin-top: 40px;
      h{
        font-size: 13px;
      }
      span{
        color: white;
        width: 20px;
        height: 20px;
        background-color: red;
        font-size: 12px;
        padding: 3px;
        border-radius: 3px;
      }
    }
    .day__box{
      width: 620px;
      height: 48px;
      border: 1px solid #ccc;
      border-radius: 5px;
      display: inline-block;
      padding: 9px 16px;
      position: relative;
      top: 18px;
      .arrow{
        width: 12px;
        height: 12px;
        border: 1px solid;
        border-color: #565656 #565656 transparent transparent;
        transform: rotate(135deg);
        margin-left: auto;
        margin-top: 4px;
        position: relative;
        top: -24px;
      }
    }
  }
  .main-page__05{
    width: 700px;
    height: 625px;
    padding: 40px 40px 64px;
    .price{
      width: 620px;
      height: 60px;
   
      h{
        color: rgb(136, 136, 136);
        font-size: 12px;
        font-weight: 600;
        line-height: 1.4em;
        margin-bottom: 24px;
      }
      .picture{
        width: 13px;
      }
     
    }
    .buy__box{
      width: 620px;
      height: 70px;
      display: flex;
      .buy__box2{
        width: 300px;
        height: 58px;
        .buy__box3{
          width: 96px;
          height: 35px;
          margin-right: auto;
          white-space: nowrap;
          display: flex;
      
          .buy__box4{
            width: 96px;
            height: 19px;
            h2{
              font-size: 13px;
              font-weight: 600;
              line-height: 1.4em;
            }
          }
          .buy__box5{
           
              color: white;
              width: 46px;
              height: 18px;
              background-color: red;
              font-size: 12px;
              padding-left: 3px;
              border-radius: 3px;
              font-weight: 600;
              margin-top: 10px;
             
          }
        }
      }
      .buy__box6{
        height: 30px;
        h2{
          font-size: 12px;
        }
      }
      .buy__box7{
        width: 285px;
        height: 48px;
        border: 1px solid #ccc;
        border-radius: 5px;
        display: inline-block;
        padding: 9px 16px;
        position: relative;
        top: -6px;
        left: 5px
      }
    }
    .fees__box{
      width: 620px;
      height: 70px;
      padding: 12px 0px;
      .fees__box2{
        width: 126px;
        height: 24px;
        h{
         
        }
      }
    }
  
  }
  }
 }
  
 