.item__buypage{
  height:900px;
  width:100%;
  background-color:#F8F8F8
}

  .item__top{
    height:150px;
    width:100%;
    &__logo{
      height:60px;
      width:300px;
      margin:auto;
      text-align:center;
      padding-top:50px;
      .picture{
        height:55px;
      }
    }
  }

  .main__item{
    height:950px;
    width:100%;
    &__page{
      height:800px;
      width:700px;
      background-color:white;
      margin-left:380px;
      &__1{
        height:100px;
        border-bottom:solid 1px #C0C0C0;
        &__item{
          height:50px;
          width:700px;
          font-size:22px;
          font-weight:bold;
          letter-spacing:0.05em;
          padding:35px;
          padding-left:270px;
        }
      }

      &__2{
        height:150px;
        border-bottom:solid 1px #C0C0C0;
        letter-spacing:0.05em;
        display:flex;
        &__picture{
          height:150px;
          width:700px;
          position:absolute;
          .watch{
            height:90px;
            width:60px;
            position:relative;
            left:190px;
            top:30px;
          }
          &__item{
            width:200px;
            font-size:12px;
            left:270px;
            bottom:55px;
            line-height:25px;
            position:relative;
            span{
              font-weight:bold;
            }
          }
        }
      }

      &__3{
        height:150px;
        border-bottom:solid 1px #C0C0C0;
        &__money{
          font-size: 18px;
          font-weight: bold;
          width:250px;
          margin-left:190px;
          padding-top:30px;
          .money{
            font-size: 28px;
            font-weight: bold;
            position:relative;
            left:130px;
          }
        }
        &__box{
          padding-left:190px;
          padding-top:10px;
          #point_check{
            background-color: gray;
          }
          label{
            color: gray;
          }
        }
      }

      &__4{
        height:200px;
        border-bottom:solid 1px #C0C0C0;
        letter-spacing:0.05em;
        &__box{
          height:60px;
          width:700px;
          display:flex;
          &__text{
            font-size:14px;
            font-weight:bold;
            width:250px;
            height:50px;
            margin-left:190px;
            padding-top:30px;
                    }
          &__button{
            height:100px;
            width:100px;
            padding-top:27px;
            a{
              text-decoration:none;
              font-size:14px;
              color:skyblue;
            }
          }
        }
        &__card{
          font-size: 12px;
          width:300px;
          padding-left:190px;
        }
        &__visa{
          width:300px;
          padding-left:190px;
          padding-top:10px;
        }
      }

      &__5{
        height:200px;
        border-bottom:solid 1px #C0C0C0;
        letter-spacing:0.05em;
        display:flex;
        &__address{
          font-size:14px;
          font-weight:bold;
          width:250px;
          height:120px;
          margin-left:190px;
          padding-top:30px;
          .address{
            font-size:12px;
            font-weight:normal;
            position:relative;
            top:10px;
          }
        }
        &__button{
          height:50px;
          width:100px;
          display:inline-block;
          a{
            font-size:14px;
            margin-top:30px;
            display:block;
            text-decoration: none;
            color: skyblue;
          }
        }
      }

      &__6{
        height:145px;
        &__button__buy{
          height:50px;
          width:300px;
          background-color:red;
          text-align:center;
          margin-left:200px;
          margin-top:40px;
          position: absolute;
          display:inline-block;
          font-weight: bold;
          color:white;
          font-size:18px;
          a{
            height:50px;
            text-decoration:none;
            color:white;
            font-weight:bold;
            position:relative;
            display:block;
            padding-top:15px;
          }
        }
      }
    }
  }