.main {
    width:1020px;
    margin: 40px auto 0;
    display:flex;
    position:relative;
    top:110px;
    height:1200px;
    &__left {
        width:280px;
        float:left;
        margin:0 40px 0 0;
        background-color:#fff;
        .setting {
            list-style:none;
            margin:0;
            padding:0;
            li {
                font-size:14px;
                display:flex;
            }
            .got {
                border-bottom:1px solid #9f99a3;
            }
            a {
                text-decoration:none;
                color:#333;
                display:block;
                border-top:1px solid #9f99a3;
                border-left:1px solid #9f99a3;
                border-right:1px solid #9f99a3;
                background-color:#eeeeee;
                padding:10px 10px;
                width:280px;
                margin:0;
                float:left;
            }
        
            .topic {
                font-size:16px;
                padding:0;
                margin:40px 0 0;
            }         
        } 
        .setted {
            list-style:none;
            margin:0;
            padding:0;
            li {
                font-size:14px;
                display:flex;
            }
            .get {
                border-bottom:1px solid #9f99a3;
            }
            a {
                text-decoration:none;
                color:#333;
                display:block;
                border-top:1px solid #9f99a3;
                border-left:1px solid #9f99a3;
                border-right:1px solid #9f99a3;
                background-color:#eeeeee;
                padding:10px 10px;
                width:280px;
                margin:0;
                float:left;
            }
            .setting {
                font-size:16px;
                margin:40px 0 0;
            }
        }
        .set {
            list-style:none;
            margin:0;
            padding:0;
            li {
                font-size:14px;
            }
            .git {
                border-bottom:1px solid #9f99a3;
            }
            a {
                text-decoration:none;
                color:#333;
                display:block;
                border-top:1px solid #9f99a3;
                border-left:1px solid #9f99a3;
                border-right:1px solid #9f99a3;
                background-color:#eeeeee;
                padding:10px 10px;
                width:280px;
                margin:0;
                float:left;
            }
        }
    }

    .main__right {
        float:right;
        background-color:#000;
        width:700px;
        .into_box {
            height:200px;
            background: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
            a:hover {
                opacity:0.5;
                text-decoration: underline;
                text-decoration-color: #000;
            }
            a {
                display:block;
                text-decoration:none;
                .person {
                    width:60px;
                    height:60px;
                    border-radius:29px;
                    margin: 50px 0 0 320px;
                }
                .my_name {
                    margin: 8px 0 0;
                    font-size: 14px;
                    text-align:center;
                    color:#333;
                }
                .longer {
                    margin: 8px 0 0;
                    text-align:center;
                    color:#333;
                    .evaluation {
                        display: inline-block;
                        font-size: 14px;
                        .number {
                            margin: 0 0 0 8px;
                            font-size: 16px;
                        }
                    }
                    .count {
                        margin: 0 0 0 16px;
                        display: inline-block;
                        font-size: 14px;
                        .number2 {
                            margin: 0 0 0 8px;
                            font-size: 16px;
                        }
                    }
                } 
            }
        }
        .covers  {
            margin:0;
            background-color:#fff;
            .tab {
                background: #eee;
                list-style:none;
                display:inline;
                padding:0;
                .active {
                    background-color: #EEEEEE;
                    width:50%;
                    border-right:1px solid #9f99a3;
                    display: inline-block;
                    vertical-align: top;
                    text-align: center;
                    height:75px;
                    cursor: auto;
                    .left_tab  {
                        padding:0;
                        display:block;
                        

                    }
                }
                .todo {
                    background-color:#EEEEEE;
                    width:50%;
                    float:right;
                    display:inline-block;
                    height:75px;
                    text-align:center;
                    vertical-align: top;
                    .right_tab {
                        padding:0;
                    } 
                }
                a {
                    color:#333;
                    font-size:16px;
                    text-decoration:none;
                    display:block;
                    height:75px;

                }
                a:hover {
                    opacity:0.7;
                }
            }
        }
    }
}

.furima6{
    height:300px;
    width:100%;
    margin-top:150px;
  }
    .picture3{
      height:370px;
      width:100%;
      position:absolute;
    }
    .furima6-copy{
      font-size:24px;
      font-weight:bolder;
      color:white;
      text-shadow:1px 1px 0 #000,
                  -1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
      position:relative;
      text-align:center;
      top:100px;
    }
    .furima6-copy2{
      font-size:34px;
      font-weight:bolder;
      color:white;
      text-shadow:1px 1px 0 #000,
                  -1px 1px 0 #000,
                  1px -1px 0 #000,
                  -1px -1px 0 #000;
      position:relative;
      text-align:center;
      top:110px;
    }
    .furima6-download{
      .applelogo3{
        margin-top:20px;
        margin-right:10px;
      }
      .googlelogo3{
        margin-top:20px;
      }
    }